<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
</startup>
  <connectionStrings>
    <add name="sqlConnection" connectionString="Server=.;database=face;uid=sa;pwd=123;"/>
    <add name="API_KEY" connectionString="lg8kZ3gDO6k19qOEBQuczu7T"/>
    <add name="SECRET_KEY" connectionString="XrXGYaYCEFBVU3SioGEOS8FQGgY1YkBv"/>
  </connectionStrings>
</configuration>
